<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "yellow" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white; font-size:20px;  margin-top:50px">loading...</p> </ngx-spinner>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <input type="text"  id="" placeholder="Type your restaurant name here ..." [(ngModel)]="searchText" name="searchText">
        </div>
    </div>
    <div class="row py-3">
      <div class="col-sm-12 col-md-6 col-lg-3 restaurant" *ngFor="let _restaurant of restaurants | searchBy:{name:
        searchText} ">
          <img [src]="_restaurant.photoUrl" alt="restaurant">
          <h3>{{_restaurant.name}}</h3>
          <p>{{_restaurant.description.substr(0,50)}} ...</p>
          <p class="time"><span>{{'RESTAURANT.Open' | translate}}: {{_restaurant.openTime}}</span> - <span>{{'RESTAURANT.Close' | translate}}: {{_restaurant?.closeTime}}</span> </p>
          
          <button class="btn" routerLink="/restaurants/{{_restaurant.id}}" (onClick)="navigate(restaurants)" >{{'RESTAURANT.ViewButton' | translate}}</button>

        </div>
  </div>
  </div>